.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Rust
/target/
**/*.rs.bk

# Cargo artifacts
Cargo.lock


# Tauri
/src-tauri/target/
**/dist/

# Svelte (Node.js)
/node_modules/
/public/build/
.npm
.env

# Editors and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
